/*section size, color & positioning*/
.subscribe {
    background:#F7D5E5;
    text-align: left;
    padding: 70px 8%; /*space between content and section box*/
    max-width: 1000px; 
    margin: 40px auto 0 auto;/*spaces between page*/
    position: relative;
    margin-bottom: -40px;
    z-index: 2;
    
}
/*h2 size & color*/
.subscribe h2 {
    font-family: 'Young Serif', serif;
    font-size: 40px;
    color: #17382B;
    margin-bottom: 20px;
}
